
  --gardenbgsoft: #f9f9f9;
  --red: #FF0000;
  --green: #00FF00;
  --blue: #0000FF;
  --black: #000000;
  --lavendelle: #d5bef2;
  --charcoal: #2c3335;
  --white: #ffffff;
  --snow: #ffffff70;
  --cyan: #00d9ff;
  --discopic: url(https://raw.githubusercontent.com/rabbitwave98/garden/refs/heads/main/img/pink-mew.gif);
--gardenbg: #16161d;
--gardenheader: url(https://raw.githubusercontent.com/rabbitwave98/garden/40aac63a27e854da0e71e8a366a5b0cc53667ee2/img/moonbuddy.png);
  --crtlines: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 1px,
        #aa00ff02,
        rgba(0, 0, 0, 0.015) 2px);

  --imagerendering: pixelated;

--titlefont: 'Jacquard 12';
  --titlesize: 
      3.5em;
  --glitch1: 
    1px 1px 0 rgba(0, 0, 0, 0.75),
  -1px -1px 0 rgba(0, 0, 0, 0.75),
  3px 0 0 rgba(255, 71, 87, 0.75),
  -3px 0 0 rgba(0, 217, 255, 0.75),
  5px 0 0 rgba(0, 217, 255, 0.75),
  -5px 0 0 rgba(255, 71, 87, 0.75);
  --glitch2: 
    1px 1px 0 rgba(0, 0, 0, 0.75),
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    2px 0 0 rgba(255, 71, 87, 0.75),
    -2px 0 0 rgba(0, 217, 255, 0.75),
   3px 0 0 rgba(0, 217, 255, 0.75),
    -3px 0 0 rgba(255, 71, 87, 0.75);

  --headerfont: 'Jacquard 12';
  --headerfontsize: 3em;
  --maintextfont: 'Nova Slim';
  --subheaderfont: 'DotGothic16';

  --headerboxshadow: 0px 2px 0px white,
      0px 4px 0px var(--lavendelle),
      0px -2px 0px white,
      0px -4px 0px var(--lavendelle);

  --gridbg: 
      conic-gradient(from 90deg at 0px 1px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2)
        ;
  --gridbgsize: 
    var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5)
    ;
    --s: 50px; /* control the size*/
    --c1: #ffffff50;
    --c2: #d5bef2;
    --_g: #0000 90deg,var(--c1) 0;

  --rtm-markdown-editor-bg: var(--gardenbg);


.cm-sizer {
  position: relative;
  top: 100px;
}
  
  .title-icon-wrapper img {
    width: 100px !important;
    max—width: 100px !important;
    max-height: 100px !important;
    height: 100px !important;
  }

  .pp-banner.mode-image {
  content: "";
    inset: 0;
    background: var(--crtlines);
    z-index: -1;
    
  }

  img.pp-image-img.pp-banner-image {
    height: 420px;
}

  
  .title-wrapper {
    height: 0px;
  }
  
.inline-title {
  font-family: var(--titlefont);
  color: var(--white);
  text-shadow: var(--glitch1);
font-size: var(--titlesize);
font-weight: normal;
  top: -115px;
  left: -40px;
  position: relative;
  mix-blend-mode: normal;
}

 .markdown-source-view.mod-cm6 img {
   background-blend-mode: normal;
   mix-blend-mode: normal;
 } 
  
.title-icon-wrapper .pp-icon-image {
  background-blend-mode: normal;
  mix-blend-mode: normal;
image-rendering: pixelated;
  position: relative;
  top: -130px;
  left: -40px;
  border: 5px double var(--mewpink2);
  border-radius: 5px;
}

  .cm-scroller {
    background-color: var(--charcoal);
  }

  .metadata-container {
    margin-bottom: 0px;
}

  .cm-sizer, .metadata-container {
    background: #f3f4f6;
  border-top: 5px solid var(--lavendelle);
  border-radius: 10px;
  border-left: 2px inset var(--lavendelle);
  border-right: 2px inset var(--lavendelle);
  border-bottom: 2px inset var(--lavendelle);
    padding: 15px;
  }

.HyperMD-header .cm-header-1, .HyperMD-header .cm-header-2, .HyperMD-header .cm-header-3, .HyperMD-header .cm-header-4, .HyperMD-header .cm-header-5, .HyperMD-header .cm-header-6 {
font-family: var(--headerfont); 
  font-size: 3em !important;
  display: inline;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 1px white;
    box-shadow: var(--headerboxshadow);
    margin-bottom: 0px;
    margin-top: 0px;
    background: var(--gridbg);
    background-size: var(--gridbgsize);
     text-shadow: 
  2px 2px 0 var(--shadowcolor),
  2px -2px 0 var(--shadowcolor),
  -2px 2px 0 var(--shadowcolor),
  -2px -2px 0 var(--shadowcolor),
  2px 0px 0 var(--shadowcolor),
  0px 2px 0 var(--shadowcolor),
  -2px 0px 0 var(--shadowcolor),
  0px -2px 0 var(--shadowcolor),
  2px 2px 0px var(--shadowcolor);
  --shadowcolor: #58a6f9 !important;
}

  .HyperMD-header .cm-header-4, .HyperMD-header .cm-header-5, .HyperMD-header .cm-header-6 {
    font-family: var(--subheaderfont) !important;
    text-transform: uppercase;
    font-size: 2em !important;
    letter-spacing: 2px;
    line-height: 2em !important;
    color: #ffe8b8;
    text-shadow: 
  2px 2px 0 var(--shadowcolor),
  2px -2px 0 var(--shadowcolor),
  -2px 2px 0 var(--shadowcolor),
  -2px -2px 0 var(--shadowcolor),
  2px 0px 0 var(--shadowcolor),
  0px 2px 0 var(--shadowcolor),
  -2px 0px 0 var(--shadowcolor),
  0px -2px 0 var(--shadowcolor),
  2px 2px 0px var(--shadowcolor);
  --shadowcolor: #eb3aee !important;
  }

 .cm-line:not(.HyperMD-header) {
   font-family: var(--maintextfont);
 } 
  
  
  .cm-scroller {
  background-color: var(--lavendelle);
  }
  /*
  .cm-scroller ::before {
   height: auto;
  margin: 0 !important;
  content: "";
    position: fixed;
    inset: 0;
  
    background: var(--crtlines);
}
*/

  /* properties container */
  .metadata-properties-heading {
    margin-left: 15px;
}


--gardenbgsoft: #f9f9f9;
  --gardenpropertiesfont: 'silkscreen';
  --mewpink: #fccefc;
  --mewpink2: #fc66cc;
  --mutedtext: #9f87c8;
  --gridbgsofter: conic-gradient(from 90deg at 0px 1px,var(--_gsoft)),
    conic-gradient(from 90deg at 1px 1px,var(--_gsoft)),var(--c2softer);
  --_gsoft: #0000 90deg,var(--c1softer) 0;
  --c2softer: #f2e9fb;
  --c1softer: #ffffff50;
  
.list-collapse-indicator, svg.svg-icon, .view-content.collapse-indicator {
  display: block !important;
  visibility: visible !important;
}
.metadata-container {
  position: absolute;
  width: 350px !important;
  top: -240px;
  z-index: 20;
  right: 0px;
      background: var(--gridbgsofter);
    background-size: var(--gridbgsize);
}

  .metadata-properties-title, input.metadata-property-key-input, .metadata-property-value .multi-select-container, .metadata-link, .metadata-link-inner, .internal-link, .metadata-add-button.text-icon-button {
    font-family: 'Silkscreen' !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 13px !important;
    color: var(--mutedtext);
    
  }

  .metadata-link-inner.internal-link {
    color: var(--mewpink2) !important;
  }

  .multi-select-pill {
    background: var(--mewpink);
    color: var(--mewpink2);
  }

  svg.svg-icon {
    color: var(--mewpink2);
  }
  


/* toggle arrows 1 */.cm-fold-indicator {
    visibility: visible !important;
    opacity: 1 !important;
    display: inline !important;
  
  }

  /* toggle arrows 2 */.collapse-indicator {
    visibility: visible !important;
    opacity: 1 !important;
    color: var(--mewpink2);
    stroke-width: 2px;
    background: var(--c2softer);
    height: 20px;
    width: 20px; 
    padding-left: 4.25px;
    margin-right: 10px;
    padding-top: 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--mewpink2);
  }



.view-content .list-collapse-indicator svg.svg-icon, .view-content .collapse-indicator svg.svg-icon {
    color: var(--mewpink2);
}

/* live view markdown is visible */
.cm-header-1 { --_fmd-before: "# "; }
.cm-header-2 { --_fmd-before: "## "; }
.cm-em { --_fmd-pseudo: "_"; }
.cm-strong { --_fmd-pseudo: "**"; }

.cm-link, .cm-header, .cm-em, .cm-strong {
    &:not(.cm-formatting, &.cm-formatting + &) {
        &::before { content: var(--_fmd-before, var(--_fmd-pseudo)); opacity: 0.2; }
        &::after { content: var(--_fmd-after, var(--_fmd-pseudo)); opacity: 0.2; }
    }
}   

.cm-formatting {
  visibility: visible;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}



/* can i fuck with the metadata container position */


--gardenbgsoft: #f9f9f9;
  --gardenpropertiesfont: 'silkscreen';
  --mewpink: #fccefc;
  --mewpink2: #fc66cc;
  --mutedtext: #9f87c8;
  --gridbgsofter: conic-gradient(from 90deg at 0px 1px,var(--_gsoft)),
    conic-gradient(from 90deg at 1px 1px,var(--_gsoft)),var(--c2softer);
  --_gsoft: #0000 90deg,var(--c1softer) 0;
  --c2softer: #f2e9fb;
  --c1softer: #ffffff50;
  
.list-collapse-indicator, svg.svg-icon, .view-content.collapse-indicator {
  display: block !important;
  visibility: visible !important;
}
.metadata-container {
  position: absolute;
  width: 350px !important;
  top: -240px;
  z-index: 20;
  right: 0px;
      background: var(--gridbgsofter);
    background-size: var(--gridbgsize);
}

  .metadata-properties-title, input.metadata-property-key-input, .metadata-property-value .multi-select-container, .metadata-link, .metadata-link-inner, .internal-link, .metadata-add-button.text-icon-button {
    font-family: 'Silkscreen' !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 13px !important;
    color: var(--mutedtext);
    
  }

  .metadata-link-inner.internal-link {
    color: var(--mewpink2) !important;
  }

  .multi-select-pill {
    background: var(--mewpink);
    color: var(--mewpink2);
  }

  svg.svg-icon {
    color: var(--mewpink2);
  }
  
/* end second garden parent tag */  



/* toggle arrows 1 */.cm-fold-indicator {
    visibility: visible !important;
    opacity: 1 !important;
    display: inline !important;
  
  }

  /* toggle arrows 2 */.collapse-indicator {
    visibility: visible !important;
    opacity: 1 !important;
    color: var(--mewpink2);
    stroke-width: 2px;
    background: var(--c2softer);
    height: 20px;
    width: 20px; 
    padding-left: 4.25px;
    margin-right: 10px;
    padding-top: 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--mewpink2);
  }



.view-content .list-collapse-indicator svg.svg-icon, .view-content .collapse-indicator svg.svg-icon {
    color: var(--mewpink2);
}

/* live view markdown is visible */
.cm-header-1 { --_fmd-before: "# "; }
.cm-header-2 { --_fmd-before: "## "; }
.cm-em { --_fmd-pseudo: "_"; }
.cm-strong { --_fmd-pseudo: "**"; }

.cm-link, .cm-header, .cm-em, .cm-strong {
    &:not(.cm-formatting, &.cm-formatting + &) {
        &::before { content: var(--_fmd-before, var(--_fmd-pseudo)); opacity: 0.2; }
        &::after { content: var(--_fmd-after, var(--_fmd-pseudo)); opacity: 0.2; }
    }
}   

.cm-formatting {
  visibility: visible;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


   /* background without a banner */
  
   .cm-scroller {
    background-color: transparent !important;
     background-image: url(https://raw.githubusercontent.com/rabbitwave98/garden/40aac63a27e854da0e71e8a366a5b0cc53667ee2/img/moonbuddy.png);

  }

 .cm-content {
   margin-left: -25px;
   padding-bottom: 150px !important;

 }

  .cm-sizer {
    margin-bottom: 100px;
  }

  
